<html>

<head>
    <title>ToDo Vue</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="app">
        <header class="app-header">
            <h1>ToDo Vue</h1>
        </header>
        <div class="form__group field" id="form">
            <form v-on:submit.prevent="submitForm" autocomplete="off" v-if="canConnect">
                <input type="text" class="form__field" placeholder="Task" name="name" id='name' required
                    v-model="newtask" /><!--
                --><label for="name" class="form__label">Task</label><!--
                --><input class="form__submit" type="submit" value="+" />
            </form>
        </div>
        <div id="list">
            <ul v-if="dataExists && canConnect">
                <li v-for="element in elements.data" v-bind:class="setDoneClass(element.done)"
                    v-on:click="done(element._id)">
                    <span class="text">{{element.name}}</span>
                    <button v-on:click="remove(element._id)">x</button>
                </li>
            </ul>
            <p v-else-if="canConnect && !dataExists">
                Seems that You don't have any pending tasks. Use form to add new ones. :)
            </p>
            <p v-else class="error">
                Error when trying to connect to DB. :(
            </p>
        </div>
    </div>

    <script src="index.js"></script>
</body>

</html>